.parent{
  display: flex;
  flex-direction:row;
   border:3px solid red;
 width: 100%;
}
.child1{
  border:5px solid blue;
  padding:3%;
  margin: 2%;
  width: 30%;
  border-radius:10%;
  background-color: red;
  text-align: center;
}
.child2{
  border:3px solid blue;
  padding:3%;
  margin:2%;
  width: 70%;
  border-radius:10%;
  background-color:pink;
}
img{
  width:200px;
  border: 5px solid pink;
  border-radius:50%;
  display:block;
  margin-left:auto;
  margin-right:auto;

}
@media only screen and  (min-width:320px) and (max-width:480px){
  .parent{
    display: flex;
    flex-direction:column;
     border:3px solid red;
   width: 88%;
  }
  .child1{
    border:5px solid blue;
    padding:3%;
    margin: 2%;
    width: 88%;
    border-radius:10%;
    background-color: red;
    text-align: center;
  }
  .child2{
    border:3px solid blue;
    padding:3%;
    margin:2%;
    width: 90%;
    border-radius:10%;
    background-color:pink;
  }
  img{
    width:200px;
    border: 5px solid pink;
    border-radius:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;

  }
}

@media only screen and  (min-width:489px) and (max-width:720px){
  .parent{
    display: flex;
    flex-direction:row;
    border:3px #FF5733 ;
   width: 100%;
  }
  .child1{
    border:5px solid blue;
    padding:3%;
    margin: 2%;
    width:50%;
    border-radius:10%;
    background-color: red;
    text-align: center;
  }
  .child2{
    border:3px solid blue;
    padding:3%;
    margin:2%;
    width:50%;
    border-radius:10%;
    background-color:#33BBFF;
  }
  img{
    width:200px;
    border: 5px solid pink;
    border-radius:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;

  }
}
